@using Microsoft.AspNetCore.Identity
@using Revoow.Areas.Identity

@inject SignInManager<RevoowUser> SignInManager
@inject UserManager<RevoowUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Revoow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/revamp/index.css" />
    <link rel="stylesheet" href="~/css/ChoosePlan.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="~/logo.png" alt="RevoowMe" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    @if (SignInManager.IsSignedIn(User) == false)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="/home/privacy">Privacy</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/home/terms">ToS</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#steps">How It Works</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#plans">Pricing</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Try For Free</a>
                        </li>
                    }

                    <li class="nav-item ml-auto">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Revoow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Service</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    <script src="https://use.fontawesome.com/4ff92ff337.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/scripts/choosePlan.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/scripts/clickableList.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/copyToClipboard.js"></script>

</body>
</html>
