
@{
    Layout = null;

}
<html>
<head>
    <title>Loading...</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
    var session = '@(ViewBag.sessionId)';
    console.log(session);
    </script>
    <script src="~/scripts/stripeCheckout.js"></script>
    <link href="~/css/PaymentLoading.css" rel="stylesheet" />
</head>

<body>
    <h1>Loading...</h1>

    <div id="loading"></div>

</body>

</html>