@model CreateViewModel

<script type="text/javascript">
    var urlsInUse = @Html.Raw(Json.Serialize(Model.URLsInUse));
    var namesInUse = @Html.Raw(Json.Serialize(Model.NamesInUse));
</script>

<link href="~/css/createForm.css" rel="stylesheet" />
<div class="container pt-4">
    <form id="detail" asp-controller="Company" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="row create-form justify-content-center">
            <div class="col-md-6 p-4 border">


                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-font"></i>
                        </div>
                        <input asp-for="CompanyName" onkeypress="return alphanumericSpaceOnly()" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="CompanyName" class="text-danger"></span></div>
                </div>

                <div class="form-group">
                    <label asp-for="PageURL"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i id="revoowURL" class="input-group-text">www.revoow.com/</i>
                        </div>
                        <input asp-for="PageURL" onkeypress="return alphanumericOnly()" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="PageURL" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <label asp-for="WebsiteUrl"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-external-link"></i>
                        </div>
                        <input asp-for="WebsiteUrl" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="WebsiteUrl" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-phone"></i>
                        </div>
                        <input asp-for="PhoneNumber" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-building"></i>
                        </div>
                        <input asp-for="Address" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="Address" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-align-justify"></i>
                        </div>
                        <input multiple TextMode="MultiLine" asp-for="Description" class="form-control" type="text" autocomplete="off" />

                    </div>
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                </div>

                @*<div class="form-group">
                    <label asp-for="Logo"></label>
                    <div class="input-group mb-3 justify-content-center">
                        <div class="input-group-prepend">
                        </div>
                        <label class="falseinput btn btn-primary">
                            Browse files
                            <input id="fileInput" style="display:none" class="fileinput" type="file" name="file" asp-for="Logo" autocomplete="off" />
                        </label>
                    </div>
                    <div id="fileName">
                    </div>
                    <div><span asp-validation-for="Logo" class="text-danger"></span></div>
                </div>*@

                <div class="form-group text-center pt-2">
                    <input type="submit" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </form>

</div>
<script src="~/scripts/inputLimitations.js"></script>
@*<script src="~/scripts/browseFiles.js"></script>*@
@*<script src="~/scripts/isUnique.js"></script>*@