div {
}

.container img {
    max-width: 15rem;
}

.container .image {
    padding: 5px;
}

.fa {
    color: white;
}

#hook {
    margin-top: 15px;
    margin-bottom: 15px;
}

    #hook a {
        font-weight: bold;
        font-size: 1.8rem;
    }


#steps {
    margin-top: 20px;
}

    #steps .row {
        background: #007bff;
        padding-top: 20px;
    }

    #steps div {
        padding: 5px;
    }

    #steps p {
        margin-top: 10px;
        margin-bottom: 0px;
        color: white;
        font-size: 1.5em;
    }

    #steps i {
        font-size: 100px;
    }
#checks .check {
    color: #0ac547;
    font-size: 60px;
    text-align: center;
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 6px solid #0ac547;
}

#checks i {
    color: #0ac547;
    padding-top: 20px;
    font-size: 4rem;
}

#checks span {
    display: inline-block;
    font-size: 2rem;
    padding-left: 10px;
}

#plans {
    margin-top: 30px;
}
