html {
    font: 15px Verdana;
    margin-right: 20%;
    margin-left: 20%;
}

.container {
    content: flex;
}

.company {
    text-align:center;
}

.company img {
    max-height: 200px;
    width: auto;
}

.instructions .row {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #007bff;
}

    .instructions .row span {
        text-decoration: underline;
    }

.number {
    text-align: center;
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #0ac547;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid white;
    color: white;
}

.video .row {
    justify-content: center;
    background: #ffffff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .video .row label {
        font-size: 1.5em;
    }

video {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: black;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.4);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.controls .row {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.controls button {
    height: 50px;
    width: 50px;
}

#record {
    color: red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rating .row {
    background: #007bff;
    justify-content: center;
}

.rating #stars {
    padding-top: 20px;
}

.rating .success-box {
    padding-bottom: 10px;
}

.submit-video .row {
    justify-content: center;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Stars

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .rating-stars ul > li.star {
        display: inline-block;
    }

        /* Idle State of the stars */
        .rating-stars ul > li.star > i.fa {
            font-size: 2.5em; /* Change the size of the stars */
            color: white; /* Color on idle state */
        }

        /* Hover state of the stars */
        .rating-stars ul > li.star.hover > i.fa {
            color: #FFCC36;
        }

        /* Selected state of the stars */
        .rating-stars ul > li.star.selected > i.fa {
            color: #FF912C;
        }
