@model UploadViewModel

@{
    Layout = null;
}

<html>
<head>
    <title>Upload</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/starRating.js"></script>
    <link href="~/css/upload.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/4ff92ff337.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/scripts/form-validation.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="~/scripts/video.js" async></script>
    <script src="~/scripts/starRating.js"></script>

</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-8 shadow-lg">
                <div class="company">
                    <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(Model.Logo)" />
                </div>
                <div class="instructions">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="number">1</i>
                            </br>
                            Say your first name only
                        </div>
                        <div class="col-md-3">
                            <i class="number">2</i>
                            </br>
                            Mention the name of the service you used
                        </div>
                        <div class="col-md-3">
                            <i class="number">3</i>
                            </br>
                            Talk about your experience
                        </div>

                    </div>
                    <div class="row">
                        <span>
                            Click for example video
                        </span>
                    </div>
                </div>
                <div class="video">
                    <div class="row">
                        <div class="col-md-4">
                            <form name="upload">

                                <label for="firstname" class="directions">Please enter your first name</label>
                                <div class="input-group input-group-lg">
                                    <input name="reviewerName" id="reviewerName" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <input hidden name="ratingValue" id="ratingValue" type="text" class="form-control" />
                                <input hidden name="blobLength" id="blobLength" type="text" class="form-control" />
                                <div id="nameError" class="errorTxt"></div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div id="videoError" class="errorTxt"></div>
                        <div class="col-md-8">
                            <video id="gum" playsinline autoplay></video>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="row">
                            <button id="start">
                                <i class="fa fa-video-camera fa-lg"></i>
                            </button>
                            <button id="record" disabled>
                                <i class="fa fa-circle fa-lg"></i>
                            </button>
                            <button id="play" disabled>
                                <i class="fa fa-play fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div>
                        <span id="errorMsg"></span>
                    </div>

                </div>
                <div class="rating">
                    <div class="row">
                        <!-- Rating Stars Box -->
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='success-box'>
                            <div class='text-message'></div>
                            <div id="ratingError" class="errorTxt"></div>
                        </div>
                    </div>
                </div>
                <div class="submit-video">
                    <div class="row">
                        <button id="upload" class="btn btn-primary btn-lg">Submit Your Video</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input id="pageId" hidden value="@Model.PageId" />
    <input id="companyName" hidden value="@Model.CompanyName" />


</body>
</html>
