@model UploadViewModel

@{
    Layout = null;
}

<html>
<head>
    <title>Upload</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/starRating.js"></script>
    <link href="~/css/revamp/upload.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/4ff92ff337.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/scripts/form-validation.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="~/scripts/video.js" async></script>
    <script src="~/scripts/starRating.js"></script>

</head>
<body>
    <div class="container border pt-5">
        <div id="title">
            <div class="row justify-content-center">
                <h1>
                    Leave Us A Quick 30 Second Revoow!
                </h1>
            </div>
            <div class="row justify-content-center">
                <h4>
                    Follow the instructions below
                </h4>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-6">
                    <img class="center" src="data:image;base64,@Convert.ToBase64String(Model.Logo)" alt="companylogo">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div id="company-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div id="instructions" class="row justify-content-center mt-5 text-center">
                <div class="col-md-4">
                    <i class="fa fa-user"></i>
                    <br>
                    <h5>1. Say Your Name</h5>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-building"></i>
                    <br>
                    <h5>2. Mention the service you used</h5>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-comment"></i>
                    <br>
                    <h5>3. Share Your Experience Within 30 Second</h5>
                </div>

            </div>
            <div class="video">
                <div class="row">
                    <div class="col-md-4">
                        <form name="upload">

                            <label for="firstname" class="directions">Please enter your first name</label>
                            <div class="input-group input-group-lg">
                                <input name="reviewerName" id="reviewerName" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <input hidden name="ratingValue" id="ratingValue" type="text" class="form-control" />
                            <input hidden name="blobLength" id="blobLength" type="text" class="form-control" />
                            <div id="nameError" class="errorTxt"></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div id="videoError" class="errorTxt"></div>
                    <div class="col-md-8">
                        <video id="gum" playsinline autoplay></video>
                    </div>
                </div>
                <div class="controls">
                    <div class="row">
                        <button id="start">
                            <i class="fa fa-video-camera fa-lg"></i>
                        </button>
                        <button id="record" disabled>
                            <i class="fa fa-circle fa-lg"></i>
                        </button>
                        <button id="play" disabled>
                            <i class="fa fa-play fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <span id="errorMsg"></span>
                </div>

            </div>
        </div>
    </div>
    <input id="pageId" hidden value="@Model.PageId" />
    <input id="companyName" hidden value="@Model.CompanyName" />


</body>
</html>
